@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

body {
	margin: 0;
	background-color: #e7edde;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

p,
h1,
h3,
.log-in,
.News {
	color: #224722;
	text-align: center;
}

a {
	font-family: "Helvetica";
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 20px;
}

.Apply {
	padding: 25px 30px;
	color: #daffc9;
	margin: 5px;
	background-color: #224722;
	border-radius: 10px;
}

.navigation {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 100px;
	height: 100px;
}

p {
	font-family: "Helvetica";
}

.logo {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 70%;
	margin-left: 60px;
}

h1,
h3 {
	font-family: "Archivo";
	font-weight: bold;
}

.phone {
	width: 100%;
	padding-bottom: 40px;
	padding-right: 30px;
}

.watering {
	width: 100%;
	border-radius: 50%;
	padding-bottom: 40px;
	padding-right: 30px;
}

.phone2 {
	width: 100%;
	border-radius: 50%;
	padding-bottom: 40px;
	padding-right: 30px;
}

.plant {
	width: 100%;
	border-radius: 50%;
	padding-bottom: 40px;
	padding-right: 30px;
}

.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

@media (min-width: 1024px) {
	.logo {
        margin-top: -100px;
		margin-bottom: 30px;
		width: 70%;
	}

	.nav-top {
		padding-top: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.alive {
		display: flex;
		align-items: center;
	}

	.alive div {
		flex: 1;
	}

	h1 {
		text-align: left;
		font-size: 75px;
	}

	.alive p {
		font-size: 20px;
		text-align: left;
	}

	.smart-care p {
		font-size: 25px;
		text-align: left;
		line-height: 40px;
	}

	.smart-care h3,
	p {
		padding-left: 20px;
	}

	.phone {
		padding-bottom: 40px;
		padding-left: 80px;
		width: 50%;
	}

	.watering {
		padding-bottom: 40px;
		padding-right: 30px;
	}

	.phone2 {
		padding-bottom: 40px;
		padding-left: 30px;
	}

	.plant {
		padding-bottom: 40px;
		padding-right: 30px;
	}

	.info {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.info div:nth-child(1) {
		order: 1;
	}

	.info div:nth-child(2) {
		order: 2;
	}

	.info div:nth-child(3) {
		order: 4;
	}

	.info div:nth-child(4) {
		order: 3;
	}

	.info div:nth-child(5) {
		order: 5;
	}

	.info div:nth-child(6) {
		order: 6;
	}

	.footer {
		text-align: center;
	}
}
